# Test configuration for Travis CI. See <https://travis-ci.org/>.
language: cpp

compiler:
  - gcc
  - clang

script:
  - make CXXFLAGS="-Wall -Wextra -Werror -Wno-long-long -pedantic"
  - make check
